{% extends "layouts/default.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<main class="flex gap-5 p-10 w-full">
	<section class="flex flex-col gap-5 justify-center">
		<img
			alt="doggy"
			class="rounded shadow"
			src="/public/img/doggy.webp"
			width="200px"
		/>

		<button
			class="bg-slate-800 rounded px-2 py-1 text-white hover:bg-slate-700 active:bg-slate-900 max-w-[200px]"
			data-hx-get="/api/home/hello"
			data-hx-swap="outerHTML"
			data-hx-target="#say-hello"

		>
			Call the API
		</button>
	</section>

	<section class="w-full h-full flex">
		<output id="say-hello"></output>
	</section>
</main>
{% endblock content %}