<!DOCTYPE html>
<html lang="en">
<head>
	{% block head -%}
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>{% block title %}{% endblock title %}</title>
	<link href="/dist/css/main.min.css" rel="stylesheet">
	<script src="/dist/js/htmx.min.js"></script>
	{% endblock head -%}
</head>

<body>

<div
	data-hx-get="/api/common/navbar"
	data-hx-swap="outerHTML"
	data-hx-target="#navbar"
	data-hx-trigger="load"
></div>

<output class="bg-slate-100 h-[48px] w-full grid" id="navbar"></output>

{% block content -%}{% endblock content -%}
</body>
</html>