<nav class="bg-slate-100 text-slate-800 p-3">
	<ul class="flex gap-5 items-center">
		<li>
			<a href="/" class="hover:bg-blue-200 p-2 rounded hover:text-blue-700 active:bg-blue-300"
				>Home</a
			>
		</li>

		<li>
			<a
				href="/debug"
				class="hover:bg-blue-200 p-2 rounded hover:text-blue-700 active:bg-blue-300"
				>Debug</a
			>
		</li>
	</ul>
</nav>

<script type="module">
	/**
	 * @param {HTMLAnchorElement} node
	 */
	function disableAnchor(node) {
		if (globalThis.location.href === node.href) {
			node.style.pointerEvents = "none";
			node.style.cursor = "not-allowed";

			node.classList.remove("hover:bg-blue-200");
			node.classList.remove("hover:text-blue-700");
			node.classList.remove("active:bg-blue-300");

			node.classList.add("text-slate-600");
		}
	}

	document.querySelector("nav").querySelectorAll("a").forEach(disableAnchor);
</script>
