{% extends "components/layout.html" %}

{% block title %}Debug{% endblock title %}

{% block content %}

<main class="grid gap-5 p-10">
  <div
    data-hx-get="/api/timestamp"
    data-hx-swap="outerHTML"
    data-hx-target="#timestamp"
    data-hx-trigger="load, every 1s"
  ></div>

  <output id="timestamp"></output>

  <div
    data-hx-get="/api/sysinfo"
    data-hx-swap="outerHTML"
    data-hx-target="#sysinfo"
    data-hx-trigger="load, every 100ms"
  ></div>

  <output id="sysinfo"></output>
</main>
{% endblock content %}